In [1]:
%matplotlib inline

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
path = 'dataset-files/'

In [3]:
olist_customer = pd.read_csv(path + 'olist_customers_dataset.csv')
olist_geolocation = pd.read_csv(path + 'olist_geolocation_dataset.csv')
olist_order_items = pd.read_csv(path + 'olist_order_items_dataset.csv')
olist_order_payments = pd.read_csv(path + 'olist_order_payments_dataset.csv')
olist_order_reviews = pd.read_csv(path + 'olist_order_reviews_dataset.csv')
olist_orders = pd.read_csv(path + 'olist_orders_dataset.csv')
olist_products = pd.read_csv(path + 'olist_products_dataset.csv')
olist_sellers = pd.read_csv(path + 'olist_sellers_dataset.csv')

In [4]:
olist_customer.info()
olist_customer.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
olist_geolocation.info()
olist_geolocation.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
olist_order_items.info()
olist_order_items.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [7]:
olist_order_payments.info()
olist_order_payments.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [8]:
olist_order_reviews.info()
olist_order_reviews.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [9]:
olist_orders.info()
olist_orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [10]:
olist_products.info()
olist_products.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [11]:
olist_sellers.info()
olist_sellers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

# 1. Limpando os Dados

### Datas – alterando o dtype de objeto para datetime.

In [12]:
olist_order_items['shipping_limit_date'] = pd.to_datetime(olist_order_items['shipping_limit_date'])
olist_order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [13]:
olist_order_reviews[['review_creation_date', 'review_answer_timestamp']] = \
olist_order_reviews[['review_creation_date', 'review_answer_timestamp']].apply(pd.to_datetime)

olist_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [14]:
olist_orders[['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']] = \
olist_orders[['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']]\
.apply(pd.to_datetime)
olist_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

### Removendo colunas

As mensagens sobre as avaliações, bem como os seus títulos não serão apreciadas nessa análise, e portanto, devem ser removidas.

In [15]:
olist_order_reviews.drop(columns = ["review_comment_title", "review_comment_message"], inplace=True)

In [16]:
olist_order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_creation_date     99224 non-null  datetime64[ns]
 4   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 3.8+ MB

In [17]:
df_products = olist_products.drop(columns = ["product_weight_g", "product_length_cm", "product_height_cm", "product_width_cm"])
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB

### Removendo Linhas
É necessário remover linhas também. Isso será feito com o fim de igualar a coluna 'product_id' com as demais, uma vez que é a única que contém informações, o que de nada adianta para nós.

In [18]:
row_non_null_counts = df_products.notnull().sum(axis=1)
df_products = df_products[row_non_null_counts > 1]
df_products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32341 entries, 0 to 32950
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32341 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.5+ MB

# Quais são as categorias com maior e menor receita dos últimos 12 meses?

Primeiro, unimos 'olist_orders' com 'olist_order_items' pelo 'order_id', para relacionar a data de compra com o preço.

In [19]:
preco_e_data = pd.merge(olist_order_items, olist_orders, on='order_id')
preco_e_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       112650 non-null  object
 1   order_item_id                  112650 non-null  int64
 2   product_id                     112650 non-null  object
 3   seller_id                      112650 non-null  object
 4   shipping_limit_date            112650 non-null  datetime64[ns]
 5   price                          112650 non-null  float64
 6   freight_value                  112650 non-null  float64
 7   customer_id                    112650 non-null  object
 8   order_status                   112650 non-null  object
 9   order_purchase_timestamp       112650 non-null  datetime64[ns]
 10  order_approved_at              112635 non-null  datetime64[ns]
 11  order_delivered_carrier_date   111456 non-null  datetime64[ns]
 12  order_delivered_customer_date  110196 non-null  datetime64[ns]
 13  order_estimated_delivery_date  112650 non-null  datetime64[ns]
dtypes: datetime64[ns](6), float64(2), int64(1), object(5)
memory usage: 12.0+ MB

Em seguida, precisamos unir o resultado acima com df_products, para fazer a análise por categorias.

In [20]:
preco_por_categoria = pd.merge(preco_e_data, df_products, on='product_id')

# soma_por_categoria = precos_categorias.groupby('product_category_name')['price'].sum().reset_index()

# soma_por_categoria
preco_por_categoria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111047 entries, 0 to 111046
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       111047 non-null  object
 1   order_item_id                  111047 non-null  int64
 2   product_id                     111047 non-null  object
 3   seller_id                      111047 non-null  object
 4   shipping_limit_date            111047 non-null  datetime64[ns]
 5   price                          111047 non-null  float64
 6   freight_value                  111047 non-null  float64
 7   customer_id                    111047 non-null  object
 8   order_status                   111047 non-null  object
 9   order_purchase_timestamp       111047 non-null  datetime64[ns]
 10  order_approved_at              111033 non-null  datetime64[ns]
 11  order_delivered_carrier_date   109890 non-null  datetime64[ns]
 12  order_delivered_customer_date  108659 non-null  datetime64[ns]
 13  order_estimated_delivery_date  111047 non-null  datetime64[ns]
 14  product_category_name          111047 non-null  object
 15  product_name_lenght            111047 non-null  float64
 16  product_description_lenght     111047 non-null  float64
 17  product_photos_qty             111047 non-null  float64
dtypes: datetime64[ns](6), float64(5), int64(1), object(6)
memory usage: 15.3+ MB

E então, selecionamos apenas os últimos 12 meses, considerando o dia mais recente como 03/09/2018, que é o último dia contido na tabela.

In [21]:
ha_doze_meses = (pd.Timestamp('2018-09-03 09:06:57') - pd.Timedelta(365, "d"))#.strftime('%Y-%m-%d %H:%M:%S') 
ultimos_12_meses = preco_por_categoria[preco_por_categoria['order_purchase_timestamp'] >= ha_doze_meses]

In [22]:
ultimos_12_meses.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29,cool_stuff,58.0,598.0,4.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07,cool_stuff,58.0,598.0,4.0
6,bbf796534aaf9c59f8da8c7982db56e0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-03-26 03:28:44,64.9,38.50,c32c207d9ebf75958011557ac1624e2f,delivered,2018-03-18 21:00:44,2018-03-20 03:28:44,2018-03-20 18:08:45,2018-03-28 21:57:44,2018-04-12,cool_stuff,58.0,598.0,4.0
10,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05,moveis_decoracao,59.0,695.0,2.0
11,45211f00dfa76aed1c20d6910d973222,2,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2017-11-06 15:46:14,199.0,20.08,903ac1be571f2dc655f9083ffc936ce6,delivered,2017-10-30 15:35:32,2017-10-30 17:31:35,2017-10-31 20:36:37,2017-11-08 17:34:39,2017-11-24,moveis_decoracao,59.0,695.0,2.0

In [23]:
categoria_soma_preco = ultimos_12_meses.groupby('product_category_name')['price'].sum().sort_values(ascending=False)

#### As categorias com maior receita nos últimos 12 meses:

In [24]:
categoria_soma_preco.head(10)

product_category_name
beleza_saude              1003548.12
relogios_presentes         987238.61
cama_mesa_banho            774483.45
esporte_lazer              754111.67
informatica_acessorios     687562.56
moveis_decoracao           540737.22
utilidades_domesticas      495849.44
automotivo                 457494.42
cool_stuff                 416885.66
brinquedos                 356850.42
Name: price, dtype: float64

#### As categorias com menor receita nos últimos 12 meses:

In [25]:
categoria_soma_preco.tail(10)

product_category_name
fraldas_higiene                  1432.69
flores                           1110.04
la_cuisine                       1055.00
fashion_roupa_feminina           1052.24
pc_gamer                         1025.99
fashion_esporte                   933.80
cds_dvds_musicais                 370.00
fashion_roupa_infanto_juvenil     299.95
casa_conforto_2                   267.19
seguros_e_servicos                100.00
Name: price, dtype: float64

# Top 10 maiores sellers

In [26]:
receita_sellers = preco_por_categoria.groupby('seller_id')['price'].sum().sort_values(ascending=False)
receita_sellers.head(10)

seller_id
4869f7a5dfa277a7dca6462dcf3b52b2    229472.63
53243585a1d6dc2643021fd1853d8905    222776.05
4a3ca9315b744ce9f8e9374361493884    200472.92
fa1c13f2614d7b5c4749cbc52fecda94    194042.03
7c67e1448b00f6e969d365cea6b010ab    187923.89
7e93a43ef30c4f03f38b393420bc753a    176431.87
da8622b14eb17ae2831f4ac5b9dab84a    160236.57
7a67c85e85bb2ce8582c35f2203ad736    141745.53
1025f0e2d44d7041d6cf58b6550e0bfa    138968.55
955fee9216a65b617aa5c0531780ce60    135171.70
Name: price, dtype: float64

# Top 10 piores sellers

In [27]:
receita_sellers = preco_por_categoria.groupby('seller_id')['price'].sum().sort_values()
receita_sellers.head(10)

seller_id
cf6f6bc4df3999b9c6440f124fb2f687     3.50
77128dec4bec4878c37ab7d6169d6f26     6.50
1fa2d3def6adfa70e58c276bb64fe5bb     6.90
34aefe746cd81b7f3b23253ea28bef39     8.00
ad14615bdd492b01b0d97922e87cb87f     8.25
4965a7002cca77301c82d3f91b82e1a9     8.49
0f94588695d71662beec8d883ffacf09     9.00
c18309219e789960add0b2255ca4b091     9.90
95cca791657aabeff15a07eb152d7841     9.99
344223b2a90784f64136a8a5da012e7f    10.90
Name: price, dtype: float64

# Sellers que vendem o mesmo produto

Abaixo podemos ver os produtos que possuem mais de um seller.

In [28]:
seller_contagem = preco_por_categoria.groupby('product_id')['seller_id'].nunique()

produtos_com_multiplos_sellers = seller_contagem[seller_contagem > 1].index

df_filtrada = preco_por_categoria[preco_por_categoria['product_id'].isin(produtos_com_multiplos_sellers)]

produto_por_seller = df_filtrada.set_index(['product_id', 'seller_id'])
produto_por_seller

                                                                                           order_id  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884  0006ec9db01a64e59a68b2c340bf65a7
                                 4a3ca9315b744ce9f8e9374361493884  00c763284c0056eed753352f5559ff0a
                                 4a3ca9315b744ce9f8e9374361493884  01be661b8196707ef60f062632d6d1bd
                                 4a3ca9315b744ce9f8e9374361493884  01be661b8196707ef60f062632d6d1bd
                                 4a3ca9315b744ce9f8e9374361493884  028e1ce5e085cc7810f340572c316b35
...                                                                                             ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77  fe98bde348882015e26b7660d5db70f6
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53  e236416fb32f25eb00a7da9097cf36a4
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf  fa8d60735eb7db0f4659893592e3fec0
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2  e3a645e56f26072a4ea4ca6187ae208a
                                 34056b8b55c1775a22af2331670a799c  fc0cb35623426de0611d0d45c4ba4f04

                                                                   order_item_id  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884              1
                                 4a3ca9315b744ce9f8e9374361493884              1
                                 4a3ca9315b744ce9f8e9374361493884              1
                                 4a3ca9315b744ce9f8e9374361493884              2
                                 4a3ca9315b744ce9f8e9374361493884              1
...                                                                          ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77              1
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53              1
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf              1
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2              1
                                 34056b8b55c1775a22af2331670a799c              1

                                                                  shipping_limit_date  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884 2018-07-26 17:24:20
                                 4a3ca9315b744ce9f8e9374361493884 2018-06-11 00:10:44
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-24 10:42:27
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-24 10:42:27
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-26 09:04:28
...                                                                               ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77 2018-08-09 23:05:12
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53 2017-07-17 12:10:21
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf 2018-03-29 15:08:02
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2 2017-11-16 18:27:35
                                 34056b8b55c1775a22af2331670a799c 2018-05-17 04:30:52

                                                                   price  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884   74.0
                                 4a3ca9315b744ce9f8e9374361493884   79.9
                                 4a3ca9315b744ce9f8e9374361493884   89.9
                                 4a3ca9315b744ce9f8e9374361493884   89.9
                                 4a3ca9315b744ce9f8e9374361493884   89.9
...                                                                  ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77  148.9
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53   94.9
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf   85.9
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2   89.9
                                 34056b8b55c1775a22af2331670a799c   64.8

                                                                   freight_value  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884          23.32
                                 4a3ca9315b744ce9f8e9374361493884          14.65
                                 4a3ca9315b744ce9f8e9374361493884          12.13
                                 4a3ca9315b744ce9f8e9374361493884          12.13
                                 4a3ca9315b744ce9f8e9374361493884          15.38
...                                                                          ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77          20.23
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53          20.15
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf          11.47
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2          29.03
                                 34056b8b55c1775a22af2331670a799c          12.89

                                                                                        customer_id  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884  5d178120c29c61748ea95bac23cb8f25
                                 4a3ca9315b744ce9f8e9374361493884  0bbbcba4fb2d97e129f2f2622d82eabc
                                 4a3ca9315b744ce9f8e9374361493884  e7232b4d5318177ea3ab911dfb920cbf
                                 4a3ca9315b744ce9f8e9374361493884  e7232b4d5318177ea3ab911dfb920cbf
                                 4a3ca9315b744ce9f8e9374361493884  98250a166957267b24eafb8fd85d8415
...                                                                                             ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77  22e9b06384774854fe0716250ee2ebee
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53  7a09a14821e574a7774323bdfab4908c
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf  f5ced6e0d7c20ef958cf5f9269f4287d
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2  107e9ad240231ed3055437dc2bf81d28
                                 34056b8b55c1775a22af2331670a799c  4cc0feb813529048d5f404e4ab50d1ba

                                                                  order_status  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884    delivered
                                 4a3ca9315b744ce9f8e9374361493884    delivered
                                 4a3ca9315b744ce9f8e9374361493884    delivered
                                 4a3ca9315b744ce9f8e9374361493884    delivered
                                 4a3ca9315b744ce9f8e9374361493884    delivered
...                                                                        ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77    delivered
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53    delivered
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf    delivered
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2    delivered
                                 34056b8b55c1775a22af2331670a799c    delivered

                                                                  order_purchase_timestamp  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884      2018-07-24 17:04:17
                                 4a3ca9315b744ce9f8e9374361493884      2018-05-31 23:51:24
                                 4a3ca9315b744ce9f8e9374361493884      2017-05-17 10:26:53
                                 4a3ca9315b744ce9f8e9374361493884      2017-05-17 10:26:53
                                 4a3ca9315b744ce9f8e9374361493884      2017-05-21 08:03:50
...                                                                                    ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77      2018-08-07 22:46:23
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53      2017-07-07 11:09:00
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf      2018-03-24 14:57:23
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2      2017-11-09 18:10:19
                                 34056b8b55c1775a22af2331670a799c      2018-05-12 11:15:34

                                                                    order_approved_at  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884 2018-07-24 17:24:20
                                 4a3ca9315b744ce9f8e9374361493884 2018-06-01 00:10:44
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-17 10:42:27
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-17 10:42:27
                                 4a3ca9315b744ce9f8e9374361493884 2017-05-21 09:04:28
...                                                                               ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77 2018-08-07 23:05:12
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53 2017-07-07 12:10:21
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf 2018-03-24 15:08:02
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2 2017-11-09 18:27:35
                                 34056b8b55c1775a22af2331670a799c 2018-05-15 04:35:06

                                                                  order_delivered_carrier_date  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884          2018-07-25 11:02:00
                                 4a3ca9315b744ce9f8e9374361493884          2018-06-01 14:42:00
                                 4a3ca9315b744ce9f8e9374361493884          2017-05-17 15:00:10
                                 4a3ca9315b744ce9f8e9374361493884          2017-05-17 15:00:10
                                 4a3ca9315b744ce9f8e9374361493884          2017-05-23 15:48:57
...                                                                                        ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77          2018-08-08 08:53:00
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53          2017-07-07 16:24:56
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf          2018-03-26 23:46:59
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2          2017-11-10 18:02:52
                                 34056b8b55c1775a22af2331670a799c          2018-05-15 14:28:00

                                                                  order_delivered_customer_date  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884           2018-07-31 01:04:15
                                 4a3ca9315b744ce9f8e9374361493884           2018-06-13 15:34:39
                                 4a3ca9315b744ce9f8e9374361493884           2017-05-23 13:03:32
                                 4a3ca9315b744ce9f8e9374361493884           2017-05-23 13:03:32
                                 4a3ca9315b744ce9f8e9374361493884           2017-05-30 14:24:31
...                                                                                         ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77           2018-08-15 19:32:48
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53           2017-07-13 19:32:22
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf           2018-05-18 01:19:41
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2           2017-11-29 15:51:40
                                 34056b8b55c1775a22af2331670a799c           2018-05-18 19:34:48

                                                                  order_estimated_delivery_date  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884                    2018-08-22
                                 4a3ca9315b744ce9f8e9374361493884                    2018-07-04
                                 4a3ca9315b744ce9f8e9374361493884                    2017-06-07
                                 4a3ca9315b744ce9f8e9374361493884                    2017-06-07
                                 4a3ca9315b744ce9f8e9374361493884                    2017-06-14
...                                                                                         ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77                    2018-08-21
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53                    2017-08-02
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf                    2018-04-20
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2                    2017-12-06
                                 34056b8b55c1775a22af2331670a799c                    2018-05-28

                                                                  product_category_name  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884       cama_mesa_banho
                                 4a3ca9315b744ce9f8e9374361493884       cama_mesa_banho
                                 4a3ca9315b744ce9f8e9374361493884       cama_mesa_banho
                                 4a3ca9315b744ce9f8e9374361493884       cama_mesa_banho
                                 4a3ca9315b744ce9f8e9374361493884       cama_mesa_banho
...                                                                                 ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77          beleza_saude
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53         esporte_lazer
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf         esporte_lazer
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2            automotivo
                                 34056b8b55c1775a22af2331670a799c            automotivo

                                                                   product_name_lenght  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884                 54.0
                                 4a3ca9315b744ce9f8e9374361493884                 54.0
                                 4a3ca9315b744ce9f8e9374361493884                 54.0
                                 4a3ca9315b744ce9f8e9374361493884                 54.0
                                 4a3ca9315b744ce9f8e9374361493884                 54.0
...                                                                                ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77                 51.0
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53                 42.0
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf                 42.0
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2                 59.0
                                 34056b8b55c1775a22af2331670a799c                 59.0

                                                                   product_description_lenght  \
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884                       245.0
                                 4a3ca9315b744ce9f8e9374361493884                       245.0
                                 4a3ca9315b744ce9f8e9374361493884                       245.0
                                 4a3ca9315b744ce9f8e9374361493884                       245.0
                                 4a3ca9315b744ce9f8e9374361493884                       245.0
...                                                                                       ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77                      1648.0
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53                       877.0
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf                       877.0
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2                       544.0
                                 34056b8b55c1775a22af2331670a799c                       544.0

                                                                   product_photos_qty
product_id                       seller_id
99a4788cb24856965c36a24e339b6058 4a3ca9315b744ce9f8e9374361493884                 1.0
                                 4a3ca9315b744ce9f8e9374361493884                 1.0
                                 4a3ca9315b744ce9f8e9374361493884                 1.0
                                 4a3ca9315b744ce9f8e9374361493884                 1.0
                                 4a3ca9315b744ce9f8e9374361493884                 1.0
...                                                                               ...
6d7e259fc0d18d051d87bac45bd45798 bccf933e006e9b94a6184af782963e77                 1.0
87c91527351ebab1c422be0f4738480b c3cfdc648177fdbbbb35635a37472c53                 1.0
                                 6b3bd31ad8fcda4b2635ec9f3ff2ecdf                 1.0
17f221c334109f71ffc36e54fc32a836 7142540dd4c91e2237acb7e911c4eba2                 3.0
                                 34056b8b55c1775a22af2331670a799c                 3.0

[14416 rows x 16 columns]

In [29]:
num_sellers = len(preco_por_categoria.loc[preco_por_categoria['product_id'].isin(produtos_com_multiplos_sellers), 'seller_id'].unique())
num_produtos = len(produtos_com_multiplos_sellers)

print("Número de sellers com múltiplos produtos:", num_sellers)
print("Número de produtos com múltiplos sellers:", num_produtos)

Número de sellers com múltiplos produtos: 786
Número de produtos com múltiplos sellers: 1225

### Variação de preço entre os sellers

Abaixo podemos ver a variação de preços entre os sellers para cada produto.

In [30]:
variacao_preco = produto_por_seller.groupby('product_id')['price'].agg(['min', 'max'])

# Calculate price range for each product
variacao_preco['range'] = variacao_preco['max'] - variacao_preco['min']

variacao_preco_ordenada = variacao_preco.sort_values(by='range', ascending=False)

# Display the price variation for each product sorted by range
variacao_preco_ordenada

                                     min      max   range
product_id
fd8a5b9a8a79d7ba0739d69be5dc5aa1   616.0  1399.00  783.00
5237739bb5fee495dbd337755a138660   809.0  1549.00  740.00
ba3fea9ec13fb882dda6c9e4295d9130  1084.9  1800.00  715.10
68f3adaef1620e7b0c4c7cd9f78d7ed0   799.9  1297.25  497.35
f819f0c84a64f02d3a5606ca95edd272   499.9   899.99  400.09
...                                  ...      ...     ...
ae3e0cf8b9e4a3a027fc5d4b0a3eb2a0    39.9    39.90    0.00
268a26bc460de02a94ec05d9ebb4c3e7    69.0    69.00    0.00
4943769229463d7bd0fd5af9baac46b5    65.5    65.50    0.00
aef29ba8f524551d01c5497f60832b2c    14.0    14.00    0.00
8092fb20e422a961ea52cd441b5a4244   155.0   155.00    0.00

[1225 rows x 3 columns]

Podemos ver acima que a maior variação de preço é de R$ 783,00.

# EXTRA – há relação entre a variação de preço e faturamento?

Aproveitei o dataframe 'produto_por_seller', onde constam os produtos que posseum mais de um seller para armezenar os seller_id de cada vendedor. Utilizando esses valores, filtrei o dataframe preco_por_categoria. Esse último dataframe foi a mescla que havia feito anteriormente, para relacionar a data de compra com o preço. Com o filtro aplicado, fiz a soma de price por vendedor, a fim de saber o faturamento de cada um.

In [31]:


sellers_selecionados = produto_por_seller.index.get_level_values('seller_id').unique()
preco_por_categoria_filtrado = preco_por_categoria[preco_por_categoria['seller_id'].isin(sellers_selecionados)]

In [32]:

# # Group by seller_id and calculate the correlation between 'invoice' and 'price'
# seller_corr = preco_por_categoria_filtered.groupby('seller_id')[['invoice', 'price']].corr().iloc[0::2,-1].reset_index()

# Inflação de Preços

Podemos ver abaixo que alguns produtos sofreram aumentos altíssimos ao longo do tempo. Alguns aumentaram acima de 300%, sendo o maior índice de inflação em 900%. No caso deste de aumento de 900%, ele ocorreu em menos de 30 dias.

Por outro lado, o preço de alguns produtos deflacionou, sendo o maior índice de deflação em 78,7%.

In [100]:
colunas_selecionadas = ['product_id', 'price', 'order_purchase_timestamp']

df_preco_tempo_produto = preco_por_categoria[colunas_selecionadas].copy()

dados_agrupados = df_preco_tempo_produto.groupby('product_id')

precos_antigos_idx = dados_agrupados['order_purchase_timestamp'].idxmin()
precos_novos_idx = dados_agrupados['order_purchase_timestamp'].idxmax()

precos_antigos = df_preco_tempo_produto.loc[precos_antigos_idx]
precos_novos = df_preco_tempo_produto.loc[precos_novos_idx]

inflacao_absoluto, inflacao_porcentagem = (
    (precos_novos.set_index('product_id')['price'] - precos_antigos.set_index('product_id')['price']).abs(),
    (((precos_novos.set_index('product_id')['price'] - precos_antigos.set_index('product_id')['price']) / precos_antigos.set_index('product_id')['price']) * 100).round(1)
)

inflacao_df = pd.DataFrame({'oldest_timestamp': precos_antigos.groupby('product_id')['order_purchase_timestamp'].min(),
                          'newest_timestamp': precos_novos.groupby('product_id')['order_purchase_timestamp'].max(),
                          'variação em R$': inflacao_absoluto,
                          'variação em %': inflacao_porcentagem})

inflacao_df = inflacao_df.sort_values(by='variação em %', ascending=False)

inflacao_df

,oldest_timestamp,newest_timestamp,variação em R$,variação em %
product_id,,,,
613a1da144b1ad65ab2cba8d417ad350,2017-02-26 00:04:26,2017-03-16 11:08:23,171.00,900.0
668627d7997bde540866a91f02484ae6,2017-04-04 18:02:11,2018-05-04 13:31:32,43.56,688.2
f03859e4cc21018569f5ae7a03897ff4,2017-07-07 16:25:41,2018-06-14 21:18:25,124.99,357.1
2eb384017334e47db9ccf364216799df,2017-11-24 22:04:54,2018-03-20 18:02:29,67.35,318.4
6ae7f4ef0ca670ca2609d039af87d057,2017-01-25 22:04:39,2017-04-17 06:41:44,75.10,314.2
...,...,...,...,...
69455f41626a745aea9ee9164cb9eafd,2017-02-27 16:22:04,2018-08-22 10:51:09,219.69,-65.1
1fa52682d6938b129312ef4cffac1711,2018-01-13 15:59:39,2018-08-21 20:18:31,131.00,-68.6
ba16581014183c8415da15145f3d4c24,2017-04-15 14:40:01,2018-08-06 20:31:45,660.99,-68.9
5be25cbe1b150d16b7809060ffe1ce0b,2017-03-11 22:10:14,2017-11-23 22:13:26,29.99,-75.0
d69e906470f99256b16bee14a0268fd1,2017-11-11 09:32:27,2018-08-01 17:43:33,62.90,-78.7

Considerando que temos 32.341 produtos na tabela acima, podemos estimar a quantidade e porcentagem de produtos que deflacionaram, que inflacionaram, bem como dos que permaneceram com o mesmo preço.

In [64]:
def porcentagem(df):
    return (df / len(inflacao_df) * 100).round(2)

In [94]:
numero_deflacionados = (inflacao_df['variação em %'] < 0).sum()
numero_inflacionados = (inflacao_df['variação em %'] > 0).sum()
numero_valor_inalterado = (inflacao_df['variação em %'] == 0).sum()

porcentagem_deflacionados = porcentagem(numero_deflacionados)
porcentagem_inflacionados = porcentagem(numero_inflacionados)
porcentagem_inalterados = porcentagem(numero_valor_inalterado)

In [102]:
m_infl = f"O número de produtos que teve um aumento no seu preço é de {numero_inflacionados}, o que representa {porcentagem_inflacionados}% \
do total. Já o número de produtos que tiveram redução no preço foi de {numero_deflacionados} ({porcentagem_deflacionados}%).\
Assim, podemos concluir que a maior parte dos produtos não teve alteração no seu preço, sendo {porcentagem_inalterados}% do total, \
ou, {numero_valor_inalterado}, em termos absolutos."

print(m_infl)

O número de produtos que teve um aumento no seu preço é de **3243**, o que representa 10.03% do total. Já o número de produtos que tiveram redução no preço foi de 2353 (7.28%).Assim, podemos concluir que a maior parte dos produtos não teve alteração no seu preço, sendo 82.7% do total, ou, 26745, em termos absolutos.

# Top 10 sellers com melhores avaliações.

Como critério, consideramos as avaliações como positivas, as que fossem nota 4 ou 5. E negativas, as de 1 a 3.

In [ ]:
numero_deflacionados = (inflacao_df['variação em %'] < 0).sum()

In [105]:
# Unimos a olist_order_reviews com olist_order_items para relacionar seller_id com review_score

merged_reviews_sellers = pd.merge(olist_order_reviews, olist_order_items, on='order_id')

merged_reviews_sellers

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18 21:46:59,1,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18 21:46:59,2,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63
2,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11 03:05:13,1,be0dbdc3d67d55727a65d4cd696ca73c,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-06 12:48:39,79.79,8.30
3,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18 14:36:24,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-02-08 10:31:15,149.00,45.12
4,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21 22:02:06,1,52c80cedd4e90108bf4fa6a206ef6b03,a1043bafd471dff536d0c462352beb48,2017-04-13 17:55:19,179.99,42.85
...,...,...,...,...,...,...,...,...,...,...,...
112367,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,2018-07-07,2018-07-14 17:18:30,1,4fb209073dc2ab6a6d3c259a7c285501,5343d0649eca2a983820bfe93fc4d17e,2018-07-02 17:30:37,226.77,61.20
112368,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,2017-12-09,2017-12-11 20:06:42,1,3a33c980b62eb1ef3b8ae61b6fc6fe55,46dc3b2cc0980fb8ec44634e21d2718e,2017-12-07 22:08:00,199.99,9.77
112369,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,2018-03-22,2018-03-23 09:10:43,1,8ba0118a487ec8671aed57e5ef846574,17ca9b9e9b9ef8fdb529001b49ebb50f,2018-03-22 10:08:04,215.97,15.59
112370,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,2018-07-01,2018-07-02 12:59:13,1,73a7fbf8c1048131f3b531af31bcdf0e,8d956fec2e4337affcb520f56fd8cbfd,2018-06-26 18:15:29,50.95,15.46
112371,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,2017-07-03,2017-07-03 21:01:49,1,8fbd36d3b045f5f38b252b1513478f38,7e3f87d16fb353f408d467e74fbd8014,2017-07-06 02:45:15,32.90,7.78

Agora selecionamos apenas as avaliações positivas:

In [111]:
avaliacoes_positivas = [merged_reviews_sellers[merged_reviews_sellers['review_score'] > 4]]
avaliacoes_positivas = avaliacoes_positivas.reset_index(drop=True)

AttributeError: 'list' object has no attribute 'reset_index'